@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




.App {
  text-align: left;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: #dddddd;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

#topBar {
  background-color: #b197fc;
  height: 50px;
  color: #ffffff;
  font-size: 30px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: stretch;
}

.container>div>div {
  margin: 10px;
  padding: 3px;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.container>div:nth-child(1) {
  width: 32%;
  overflow: hidden;
  padding-bottom: 10px;
}

.container>div:nth-child(1)>div:nth-child(1) {
  height: 240px;
}

.container>div:nth-child(1)>div:nth-child(2) {
  height: 215px;
}

.container>div:nth-child(2) {
  width: 41%;
}

.container>div:nth-child(2)>div:nth-child(1) {
  height: 505px;
  background-image: linear-gradient(to top,  #fef9d7 0%,#d299c2 100%);
  /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);*/
}

.container>div:nth-child(3) {
  text-align: left;
  width: 27%;
  padding-bottom: 10px;
  /* height: 300px; */
}

.container>div:nth-child(3)>div:nth-child(1) {
  height: 175px;
}

.container>div:nth-child(3)>div:nth-child(2) {
  height: 280px;
}


#chatbox {
  overflow-y: auto;
  height: 360px;
}

.cert {
  font-size: 3px;
  padding: 3px;
  text-align: left;
  word-break: normal;
  border: solid 1px #636490;
  overflow-wrap: break-word;
  overflow: hidden;
  overflow-y: auto;
  vertical-align: middle;
  height: 36px;
  max-height: 36px;
  width: 95%;
}

.my_message {
  margin-left: auto;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: max-content;
  word-break: break-all;
  background-color: #ffffff87;
  max-width: 200px;
}

.received_message {
  text-align: left;
  border-radius: 10px;
  width: max-content;
  max-width: 200px;
  word-break: break-all;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  background-color: #ffffff87;
  padding: 5px;
}

.ComponentTitle {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 5px;
  color: #7676b5 ;
  padding: 0px;
}

.dataTable {
  width: 100%;
}

.dataTable td:nth-child(2) {
  width: 20%;
  text-align: center;
}

/* .dataTable td{
  border: solid 1px;
}  */

.dataTable1 {
  width: 100%;
  table-layout: fixed;
}

.dataTable1 td {
  /* border: solid 1px; */
  padding-bottom: 8px;
  text-align: left;
}

.dataTable2 {
  width: 100%;
  text-align: left;
  table-layout: fixed;
}

/* 
b{
  text-transform: capitalize;
} */

.overCell {
  word-break: break-all;
  font-size: 10px;
  min-height: 36px;
  max-height: 36px;
  overflow-y: auto;
}

.dataTable2 td {
  /* border: solid 1px; */
  text-align: left;
}

#chatRoomBar {
  width: 100%;
  height: 40px;
  border-radius: 20px 20px 0px 0px;
  background-color: #00000045;
  display: flex;
}

#charRoomTitle {
  height: 40px;
  padding-top: 5px;
  font-size: 20px;
  padding-left: 20px;
  color: white;
  font-weight: bold;
}

#selectRoom {
  padding-top: 7px;
  margin-left: auto;
  margin-right: 30px;
}

#sendMsg {
  display: flex;
  padding: 0px 3px;
}

#sendMsg>div:nth-child(1) {
  flex: 1;
}

#inputMessage1 {
  width: 100%;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding: 2px 0px 2px 5px;
}

#sendBtn {
  margin-left: 10px;
  height: 29px;
  width: 29px;
  border-radius: 100px;
  background: transparent;
  border: none;
  padding: 0px;
}


button {
  text-transform: capitalize;
  display: inline-block;
  background-color: #b097fca6;
  border-radius: 15px;
  overflow: hidden;
  color: #fff;
  border: transparent 1px solid;
  transition: all 0.2s;
  text-align: center;
  font-size: 14px;
  padding: 4px 6px;
  cursor: pointer;

}

button:hover {
  background-color: #ffffff;
  color: #9696ff;
  border: #9696ff 1px solid;
}

.trueFalse {
  color: red;
}